# ignore virtual environment an pycache
myenv/
__pycache__/
Extarctor_classes/__pycache__/
Loader_classes/__pycache__/
Storage_classes/__pycache__/
output/

test_script.py

# Ignore sample pdfs, docx
*.pdf
*.docx
*.pptx
*.txt