# ignore virtual environment an pycache
myenv/
__pycache__/
Extarctor_classes/__pycache__/
Loader_classes/__pycache__/
Storage_classes/__pycache__/
output/

test_script.py

# Ignore sample pdfs, docx
flyer.pdf
ast_sci_data_tables_sample.pdf
file-sample_100kB (2).docx
file_example_PPT_250kB.pptx
sample_pdf.pdf
sample_docx.docx