# ignore virtual environment an pycache
myenv/
__pycache__/
.pytest_cache
Extarctor_classes/__pycache__/
Loader_classes/__pycache__/
Storage_classes/__pycache__/
# output/
Test_Files/

test_script.py

# Ignore sample pdfs, docx and other files
License.txt
Storage_classes/.env